<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rendelés Összegzése</title>
</head>
<body>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    <p>Név: {{ order.name }}</p>
                    <p>Telefon: {{ order.phone }}</p>
                    <p>Pizza mérete: {{ order.size }}</p>
                    <p>Feltétek: {{ order.toppings | join(', ') }}</p>
                    <p>Mennyiség: {{ order.quantity }}</p>
                    <p>Kért szállítási idő: {{ order.delivery_time }}</p>
                    <p>Egyéb kívánságok: {{ order.comments }}</p>
                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nincs megjeleníthető rendelés.</p>
    {% endif %}

        <!-- Visszalépő link az index.html-re -->
        <p><a href="/">Vissza a főoldalra</a></p>
</body>
</html>
